<!-- Header -->
<body>
	<!-- <header class="bg-dark text-white py-4">
		<div class="container">
		<h1 class="display-4">📈 Crypto Screener</h1>
		</div>
	</header> -->
	<header class="bg-dark text-white py-4 d-flex justify-content-between align-items-center">
		<div class="container">
			<h1 class="display-4">📈 Crypto Screener</h1>
		</div>
		<div class="container">
			<div class="d-flex justify-content-end">
				<div class="pingCircle"></div>
			</div>
		</div>
	</header>
  
	<!-- Body -->
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-4">
				<!-- Watchlist Card -->
				<div class="card card-style">
					<div class="card-body">
						<div class="row mb-3">
							<div class="col">
								<div class="d-flex justify-content-between align-items-center">
									<h4 class="card-title">Watchlist</h4>
									<button type="button" class="add-symbol-btn" data-bs-toggle="modal" data-bs-target="#addSymbolModal">
										<i class="bi bi-plus-circle"></i>
									</button>
								</div>
							</div>
						</div>
						<!-- Example symbol -->
						<table class="table" id="watchlist-table">
							<thead>
								<tr>
									<th scope="col" class="delete-column"></th>
									<th scope="col" class="symbol-column">Symbol</th>
									<th scope="col" class="price-column">Price</th>
								</tr>
							</thead>
							<tbody>
								{% for row in table_data %}
								<tr class="table-row">
									<td>
										<button class="delete-btn">
											<i class="bi bi-trash3"></i>
										</button>
									</td>
									<td>{{ row['symbol'] }}</td>
									<td>{{ row['price'] }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>				
					</div>
			</div>
		</div>
		<div class="col-md-8">
			<!-- Add *** Card -->
			<div class="card rounded-lg">
				<div class="card-body">
					Hello world
				</div>
			</div>
		</div>
		</div>
	</div>

	<!-- Modal -->
	{% include 'modals/add_symbol.html' %}
