<!-- Modal -->
<div class="modal fade" id="addSymbolModal" tabindex="-1" aria-labelledby="addSymbolModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="addSymbolModalLabel">Add symbol to watchlist</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<!-- Form to add a new symbol -->
			<form>
				<div class="form-group">
					<label for="symbolInput">Symbol:</label>
					<input type="text" class="form-control" id="symbolInput" placeholder="Enter symbol">
				</div>
			</form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary" id="addSymbolBtn">Add</button>
		</div>
	  </div>
	</div>
</div>